.about {
    padding: 20px; 
    line-height: 1.5; 
    font-size: 1.1em;
    align-self: center;
    display: flex;
    justify-content: center;
  }
.about p {
  margin-left: 30px; 
  margin-right: 30px; 
  max-width: 900px;
  margin: 0; 
  text-align: left;
}